<div class="start-screen">
    <div class="title">Ring of fire</div>
    <div class="cards-left">
      <img class="card-startscreen ace" src="./assets/playingcards/ace_1.png">
      <img class="card-startscreen diamonds" src="./assets/playingcards/diamonds_1.png">
    </div>
    <button (click)="newGame()" class="button">START GAME</button>
    <img src="./assets/playingcards/ringoffire.jpg">
    <div class="cards-right">
      <img class="card-startscreen clubs" src="./assets/playingcards/clubs_1.png">
      <img class="card-startscreen hearts" src="./assets/playingcards/hearts_1.png">
    </div>
 
</div>
