.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    filter: brightness(1.5);
  }
}

h2 {
  margin-left: 16px;
  margin-top: 16px;
}

.dialog-button {
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.red {
  color: red;
}
